/* esqueleto do site */
body {
    margin: 0;
    font-family: 'Hammersmith One', Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.left {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.right {
    background-color: #631313; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

/* parágrafos */
p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 6px;
}